{% extends 'layout.html' %}

{% block title %}Admin Dashboard{% endblock title %}

{% block body %}

<!-- Page Header-->
<header class="masthead mb-0"
    style="background-image: url('   {{url_for('static', filename = 'assets/img/adminpanel-bg.jpg')}}    ')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                  <h1>Admin Panel</h1>
                    <span class="subheading">Manage Your Posts Here</span>
                </div>
            </div>
          </div>
    </div>
  </header>
  
  <!-- flashing messages-->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show d-flex justify-content-center" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}
{% endwith %}


<!--Delete Modal -->
{% for post in posts %}
 <div class="modal fade" id="deletemodal{{post.sno}}" tabindex="-1" aria-labelledby="deletemodal{{post.sno}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modaltitle">Confirm Deleting - {{post.title}}</h5>
      </div>

      <div class="modal-body">
        <form action="/delete/{{post.sno}}" method="post">
          <div class="mb-3">
            <input type="password" class="form-control" id="confirmpass" name="confirmpass" placeholder="Enter Your Password Here" required>
          </div>
          <button type="submit" class="btn btn-primary btn-sm">Confirm Delete</button>
        </form>
      </div>

    </div>
  </div>
</div>
{% endfor %}



<!-- Main Content-->
<div class="container mt-4">
  <h2 class="my-4">Basic Actions</h2>
    <div>
      <a href="/edit/0"><button class="btn btn-sm btn-success p-2 me-2">Add a new post</button></a>
      <a href="/logout"><button class="btn btn-sm btn-danger p-2">Logout</button></a>
    </div>
    <hr>

  <h2 class="my-4">File Uploader</h2>
  <div>
  <form action="/uploader"method = "post" enctype="multipart/form-data">
    <input type="File" name = "file1">
    <button class="btn btn-primary btn-sm text-uppercase p-2" type="submit">Submit</button>
  </form>
    </div>
    <hr>

<h2 class="my-4">Your Posts</h2> 
  <table class="table">
    <thead>
      <tr>
        <th>Sno.</th>
        <th>Title</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{post.sno}}</td>
            <td>{{post.title}}</td>
            <td>{{post.date}}</td>
            <td><a href="/edit/{{post.sno}}"><button class="btn btn-sm btn-primary">Edit</button></a></td>
            <td><button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#deletemodal{{post.sno}}">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}