<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Tutorials</title>
</head>

<body>
    <h1>
        Flask Framework :
    </h1>
    <p>
        <b>Flask</b> is micro-framework which has very little dependency on external libraries. It is a very
        light framework and gives us freedom to do whatever we want. In this chapter, we are going to build a project
        using Python and Flask framework.
    </p>
</body>

</html>